@font-face {
  font-family: 'Barlow Condensed';
  src: url('../public/assets/fonts/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
}
